@font-face {
	font-family: 'ts-icons';
	/* Note: Version sync with optimize */
	src:
		url('fonts/ts-icons.woff2?v2.3') format('woff2'),
		url('fonts/ts-icons.woff?v2.3') format('woff'),
		url('fonts/ts-icons.ttf?v2.3') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.tsi {
	display: inline-block;
	font: normal normal normal 14px/1 ts-icons;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tsi-spin {
	-webkit-animation: tsi-spin 2s infinite linear;
	animation: tsi-spin 2s infinite linear;
}

@-webkit-keyframes tsi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes tsi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

/* Icons */
.tsi-discord:before {
	content: "\e905";
}

.tsi-telegram:before {
	content: "\e903";
}

.tsi-tiktok:before {
	content: "\e904";
}

.tsi-moon:before {
	content: "\e902";
}

.tsi-bar-chart-2:before {
	content: "\e906";
}

.tsi-clock:before {
	content: "\e900";
}

.tsi-eye:before {
	content: "\e907";
}

.tsi-bright:before {
	content: "\e901";
}

.tsi-plus:before {
	content: "\f067";
}

.tsi-music:before {
	content: "\f001";
}

.tsi-search:before {
	content: "\f002";
}

.tsi-envelope-o:before {
	content: "\f003";
}

.tsi-heart:before {
	content: "\f004";
}

.tsi-star:before {
	content: "\f005";
}

.tsi-star-o:before {
	content: "\f006";
}

.tsi-close:before {
	content: "\f00d";
}

.tsi-remove:before {
	content: "\f00d";
}

.tsi-times:before {
	content: "\f00d";
}

.tsi-home:before {
	content: "\f015";
}

.tsi-clock-o:before {
	content: "\f017";
}

.tsi-repeat:before {
	content: "\f01e";
}

.tsi-rotate-right:before {
	content: "\f01e";
}

.tsi-image:before {
	content: "\f03e";
}

.tsi-photo:before {
	content: "\f03e";
}

.tsi-picture-o:before {
	content: "\f03e";
}

.tsi-play:before {
	content: "\f04b";
}

.tsi-chevron-left:before {
	content: "\f053";
}

.tsi-mail-forward:before {
	content: "\f064";
}

.tsi-share:before {
	content: "\f064";
}

.tsi-chevron-down:before {
	content: "\f078";
}

.tsi-shopping-cart:before {
	content: "\f07a";
}

.tsi-heart-o:before {
	content: "\f08a";
}

.tsi-twitter:before {
	content: "\f099";
}

.tsi-facebook:before {
	content: "\f09a";
}

.tsi-facebook-f:before {
	content: "\f09a";
}

.tsi-feed:before {
	content: "\f09e";
}

.tsi-rss:before {
	content: "\f09e";
}

.tsi-bars:before {
	content: "\f0c9";
}

.tsi-navicon:before {
	content: "\f0c9";
}

.tsi-reorder:before {
	content: "\f0c9";
}

.tsi-pinterest:before {
	content: "\f0d2";
}

.tsi-linkedin:before {
	content: "\f0e1";
}

.tsi-comment-o:before {
	content: "\f0e5";
}

.tsi-comments-o:before {
	content: "\f0e6";
}

.tsi-cutlery:before {
	content: "\f0f5";
}

.tsi-angle-double-left:before {
	content: "\f100";
}

.tsi-angle-double-right:before {
	content: "\f101";
}

.tsi-angle-left:before {
	content: "\f104";
}

.tsi-angle-right:before {
	content: "\f105";
}

.tsi-angle-up:before {
	content: "\f106";
}

.tsi-angle-down:before {
	content: "\f107";
}

.tsi-circle-o:before {
	content: "\f10c";
}

.tsi-mail-reply:before {
	content: "\f112";
}

.tsi-reply:before {
	content: "\f112";
}

.tsi-youtube-play:before {
	content: "\f16a";
}

.tsi-instagram:before {
	content: "\f16d";
}

.tsi-flickr:before {
	content: "\f16e";
}

.tsi-tumblr:before {
	content: "\f173";
}

.tsi-long-arrow-left:before {
	content: "\f177";
}

.tsi-long-arrow-right:before {
	content: "\f178";
}

.tsi-dribbble:before {
	content: "\f17d";
}

.tsi-vk:before {
	content: "\f189";
}

.tsi-google:before {
	content: "\f1a0";
}

.tsi-steam:before {
	content: "\f1b6";
}

.tsi-soundcloud:before {
	content: "\f1be";
}

.tsi-twitch:before {
	content: "\f1e8";
}

.tsi-lastfm:before {
	content: "\f202";
}

.tsi-pinterest-p:before {
	content: "\f231";
}

.tsi-whatsapp:before {
	content: "\f232";
}

.tsi-clone:before {
	content: "\f24d";
}

.tsi-vimeo:before {
	content: "\f27d";
}

.tsi-reddit-alien:before {
	content: "\f281";
}

.tsi-shopping-bag:before {
	content: "\f290";
}

.tsi-user-circle-o:before {
	content: "\f2be";
}

.tsi-chevron-right:before {
	content: "\f054";
}

.tsi-hot:before {
	content: "\e9a9";
}